<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/main.css" />
  <link rel="stylesheet" href="/public/css/404.css" />
  <title>Page Not Found</title>
</head>
<body>
  <header></header>
  
  <main>
    <div id="container">
      <h1>Error 404</h1>
      <h2>Page Not Found</h2>
      <br />
      <p>The page you requested doesn't exist. Please be sure that you typed the URL correctly.</p>
      <p>Click <a href="/">here</a> to return to the home page.</p>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
</body>
</html>