<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/main.css" />
  <link rel="stylesheet" href="/public/css/account-search.css" />
  <title>Account Search</title>
</head>
<body>
  <header></header>
  
  <main>
    <div id="top-options-container">
      <div id="top-options">
        <input type="text" placeholder="Search" id="search" />

        <span id="filters">
          <span>
            <label for="show-unverified">Show Unverified: </label>
            <input type="checkbox" id="show-unverified" />
          </span>
    
          <span>
            <label for="show-blocked">Show Banned: </label>
            <input type="checkbox" id="show-banned" />
          </span>
    
          <span>
            <label for="show-unverified">Show Deleted: </label>
            <input type="checkbox" id="show-deleted" />
          </span>
        </span>
      </div>
  
      <hr id="top-options-hr" />
    </div>

    <template id="user-template">
      <form class="user" autocomplete="off">
        <input class="user-username" maxlength="20" disabled />

        <div class="main-container">
          <div class="general-info">
            <p class="edit">Edit</p>
            
            <span for="user-first-name">First Name: <input class="user-first-name" maxlength="20" disabled /></span>
            <span for="user-last-name">Last Name: <input class="user-last-name" maxlength="20" disabled /></span>
            <p class="user-date-created">Date Created: <span></span></p>
          </div>

          <hr class="user-hr1" />

          <div class="status-options">
            <div class="admin-level">
              <p>Admin Level: </p>
              <div class="admin-level0">0</div>
              <div class="admin-level1">1</div>
              <div class="admin-level2">2</div>
            </div>

            <div class="verification-status-container">
              <p>Verification: </p>
              <select class="verification-status">
                <option class="verification-status-verified" value="verified">Verified</option>
                <option class="verification-status-pending" value="pending">Pending</option>
                <option class="verification-status-declined" value="declined">Declined</option>
              </select>
            </div>

            <div class="disable-actions">
              <button class="ban-user">Ban Account</button>
              <button class="delete-user">Delete Account</button>
            </div>

            <p class="ban-status"></p>
          </div>
        </div>
      </form>
    </template>

    <div id="user-info">
      <div id="loading-animation"></div>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
  <script src="/public/js/account-search.js"></script>
</body>
</html>