<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/main.css" />
  <link rel="stylesheet" href="/public/css/admin-directory.css" />
  <title>Admin Directory</title>
</head>
<body>
  <header></header>
  
  <main>
    <div id="container">
      <h1>Admin Directory</h1>

      <br />
      <div id="level1-links">
        <h2>Level 1 Admin Links</h2>
        <ul>
          <li>
            <a href="/admin/account_requests">Account Requests</a>
            <strong id="account-request-count"></strong>
          </li>
          <li>
            <a href="/admin/account_search">Account Search</a>
          </li>
          <li>
            <a href="/admin/admin_history">Admin History</a>
          </li>
          <li>
            <a href="/admin/alerts">Alerts</a>
          </li>
          <li>
            <a href="/admin/report_queue">Report Queue</a>
            <strong id="report-count"></strong>
          </li>
          <li>
            <a href="/admin/unban_requests">Unban Requests</a>
            <strong id="unban-request-count"></strong>
          </li>
        </ul>
      </div>

      <br />
      <div id="level2-links">
        <h2>Level 2 Admin Links</h2>
        <ul>
          <li>
            <a href="/admin/password_reset">Password Reset</a>
          </li>
        </ul>
      </div>
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
  <script src="/public/js/admin-directory.js"></script>
</body>
</html>