<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/main.css" />
  <link rel="stylesheet" href="/public/css/chat.css" />
  <title>Chat</title>
</head>
<body>
  <header></header>
  
  <main>
    <div id="left-panel">
      <div id="admin-options">
        <span id="add-section">+ Add Section</span>
        <span id="add-channel">+ Add Channel</span>
      </div>
    </div>

    <div id="new-section-form">
      
    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
  <script src="/public/js/chat.js"></script>
</body>
</html>