<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/main.css" />
  <link rel="stylesheet" href="/public/css/login.css" />
  <title>Login</title>
</head>
<body>
  <header></header>
  
  <main>
    <h1>Login</h1>
    <h4 id="login-form-description">Login to Chat</h4>
    
    <form id="login-form">
      <div id="login-form-info">
        <label for="login-username" id="login-username-label">Account Info:</label>
        <input type="text" placeholder="Username" id="login-username" maxlength="20" />
        <input type="password" placeholder="Password" id="login-password" />
        
        <span id="show-password-container">
          <label id="show-password-label" for="show-password">Show password: </label>
          <input id="show-password" type="checkbox" />
        </span>
      </div>

      <button class="button-disabled" id="submit-login-form" disabled>Login</button>
    </form>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
  <script src="/public/js/login.js"></script>
</body>
</html>