main {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 105px);
  width: 100vw;
  flex-direction: column;
}

input[disabled] {
  cursor: text;
}

#search {
  background: #262334;
  color: #e0e0e0;
  padding: 5px;
  border: 1px solid #423d5c;
  border-radius: 10px;
  font-size: 17px;
  width: 250px;
}

#search:focus {
  outline: none;
}

#top-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}

#filters > span > input {
  height: 15px;
  width: 15px;
  transform: translateY(2px);
}

#user-info {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading-animation {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user {
  width: 400px;
  display: flex;
  justify-content: center;
  border: 1px solid #423d5c;
  background: #333046;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

#filters {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

@media (max-width: 500px) {
  .user {
    width: 85vw;
  }
}

@media (max-width: 650px) {
  #top-options {
    flex-direction: column;
  }

  #filters {
    margin-top: 10px;
    margin-left: 10px;
    width: 100vw;
  }
}

#top-options-container {
  width: 100vw;
  position: fixed;
  background: #262334;
  z-index: 18;
}

.edit {
  color: #58A6FF;
  font-size: 13px;
  position: absolute;
  cursor: pointer;
  right: 7px;
  bottom: 5px;
  user-select: none;
}

.edit:hover {
  text-decoration: underline;
}

.user-username:focus, .user-first-name:focus, .user-last-name:focus {
  outline: none;
}

#top-options-hr {
  border: 0.5px solid #423d5c;
  background: #423d5c;
  width: 100%;
  margin-top: 10px;
}

.user-hr1 {
  border: 0.5px solid #423d5c;
  background: #423d5c;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-container {
  margin-top: 20px;
  width: 100%;
}

.user-first-name, .user-last-name {
  font-size: 16px;
  color: #6282a8;
  background: none;
  border: none;
  padding: 6px;
  border-radius: 10px;
  transition: background 500ms, color 500ms;
  margin-left: 5px;
  width: 180px;
}

.user-last-name {
  margin-top: 5px;
}

.user-username {
  width: 100%;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  padding: 6px;
  border-radius: 15px;
  transition: background 500ms, color 500ms;
}

.user-date-created > span {
  color: #6282a8;
  padding: 5px;
  margin-left: 5px;
}

.edit-input {
  background: #262334;
  color: #e0e0e0;
  padding: 5px;
  border: 1px solid #423d5c;
}

.general-info {
  position: relative;
}

.general-info > span, .general-info > p {
  display: flex;
  align-items: center;
}

.admin-level {
  display: flex;
  align-items: center;
}

.admin-level > p {
  color: #b3bad1;
}

.admin-level0, .admin-level1, .admin-level2 {
  border: 1px solid #423d5c;
  background: #262334;
  border-radius: 7px;
  width: 20px;
  height: 20px;
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  opacity: 0.5;
}

.status-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.verification-status-container {
  display: flex;
  align-items: center;
  padding: 5px;
}

.verification-status-container > p {
  margin-right: 3px;
  color: #b3bad1;
}

.verification-status {
  background: #262334;
  border: 1px solid #423d5c;
  border-radius: 7px;
  outline: none;
  padding: 2px;
}

.verification-status-verified {
  color: #8ae68b;
}

.verification-status-pending {
  color: #e6e38a;
}

.verification-status-declined {
  color: #e68a8a;
}

.disable-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 0;
}

.ban-user {
  background: #e35b5b;
  padding: 5px;
}

.delete-user {
  background: #423d5c;
  color: #e35b5b;
  padding: 5px;
}

.ban-user:hover {
  background: #b13939;
}

.delete-user:hover {
  background: #262334;
}

.ban-status {
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
}

#ban-user-form-container, #unban-user-form-container, #delete-user-form-container, #undelete-user-form-container {
  position: fixed;
  z-index: 19;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#ban-user-form, #unban-user-form, #delete-user-form, #undelete-user-form {
  background: #3e405e;
  width: 500px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #6e7e96;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media (max-width: 500px) {
  #ban-user-form, #unban-user-form {
    width: 85vw;
  }
}

#ban-user-form > h1 > span, #unban-user-form > h1 > span, #delete-user-form > h1 > span, #undelete-user-form > h1 > span  {
  color: #6282a8;
}

#ban-user-form > p, #unban-user-form > p, #delete-user-form > p, #undelete-user-form > p {
  color: #b3bad1;
  text-align: center;
  margin-top: 10px;
}

#ban-user-form > label {
  color: #6282a8;
  width: 100%;
  margin-top: 10px;
}

#ban-user-form > h1, #unban-user-form > h1, #delete-user-form > h1, #undelete-user-form > h1 {
  text-align: center;
}

#ban-reason {
  width: 90%;
  height: 100px;
  margin-top: 5px;
  resize: none;
}

#ban-reason, #ban-expiration-days, #ban-expiration-hours, #ban-expiration-minutes {
  background: #262334;
  color: #e0e0e0;
  padding: 5px;
  border: 1px solid #423d5c;
  border-radius: 3px;
  transition: background 500ms, color 500ms, box-shadow 500ms;
  font-size: 13px;
}

#ban-reason:focus, #ban-expiration-days:focus, #ban-expiration-hours:focus, #ban-expiration-minutes:focus {
  background: #e0e0e0;
  color: #262334;
  border: 1px solid #334152;
  outline: none;
  box-shadow: 0 0 0 3px rgba(172, 217, 232, .25);
}

#ban-expiration-days, #ban-expiration-hours, #ban-expiration-minutes {
  width: 65px;
}

#ban-expiration {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -15px;
}

#ban-expiration > p {
  font-size: 12px;
}

#hide-ban-form, #hide-unban-form, #hide-delete-form, #hide-undelete-form {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #828b97;
  user-select: none;
  cursor: pointer;
}

#submit-unban-form, #submit-delete-form, #submit-undelete-form {
  margin-top: 20px;
}