main {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 105px);
  width: 100vw;
  flex-direction: column;
  padding-bottom: 116px;
}

#search {
  background: #262334;
  color: #e0e0e0;
  padding: 5px;
  border: 1px solid #423d5c;
  border-radius: 10px;
  font-size: 17px;
  width: 250px;
}

#search:focus {
  outline: none;
}

#top-options {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}

#filters > span > input {
  height: 15px;
  width: 15px;
  transform: translateY(2px);
}

#user-info {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 175px);
  transform: translateY(66px);
}

#loading-animation {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user {
  width: 400px;
  display: flex;
  justify-content: center;
  border: 1px solid #423d5c;
  background: #333046;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  flex-direction: column;
  position: relative;
}

#filters {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

@media (max-width: 650px) {
  .user {
    width: 85vw;
  }

  #top-options {
    flex-direction: column;
  }

  #filters {
    margin-top: 10px;
    margin-left: 10px;
    width: 100vw;
  }
}

#top-options-container {
  width: 100vw;
  position: fixed;
  background: #262334;
  z-index: 19;
}

.edit {
  color: #3464eb;
  font-size: 13px;
  position: absolute;
  cursor: pointer;
  right: 7px;
  top: 5px;
}

.edit:hover {
  text-decoration: underline;
}

.user-username, .user-first-name, .user-last-name {
  font-size: 16px;
  color: #6282a8;
  background: none;
  border: none;
}

.user-username:focus, .user-first-name:focus, .user-last-name:focus {
  outline: none;
}

#top-options-hr {
  border: 0.5px solid #423d5c;
  background: #423d5c;
  width: 100%;
  margin-top: 10px;
}