* {
	margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  color: #e0e0e0;
}

main {
  transform: translateY(55px);
}

body {
  background: #262334;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  background: #333046;
  width: 100vw;
  position: fixed;
  height: 55px;
  border-bottom: 2px solid #423d5c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}

button {
  padding: 10px;
  font-size: 15px;
  background: #4b57c3;
  transition: background 500ms;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-disabled {
  background: #4b57c3;
  cursor: not-allowed;
}

.button-enabled {
  background: #6774e4;
  cursor: pointer;
}

.button-enabled:hover {
  background: #4b57c3;
}

#header-logo {
  background: #928cba;
  border-radius: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 130px;
  cursor: pointer;
  font-family: 'Lalezar', cursive;
  font-size: 40px;
  margin-left: 10px;
}

#header-auth-links, #header-user-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  display: none;
}

.header-link {
  border: 2px solid #687fbb;
  border-radius: 500px;
  padding: 4px 7px 4px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-circle {
  height: 20px;
  width: 20px;
  background: transparent;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: 1s loadingButton linear infinite;
}

@keyframes loadingButton {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header-message {
  position: absolute;
  transform: translateY(70px);
  height: 40px;
  display: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

#header-message-text {
  margin-left: 15px;
  margin-right: 20px;
}

#header-message-hide {
  margin-right: 15px;
  cursor: pointer;
  color: #bdbdbd;
}

#header-toggle {
  position: absolute;
  top: 17px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.header-toggle-bar {
  height: 3px;
  width: 100%;
  background: #e0e0e0;
  border-radius: 10px;
}

@media (max-width: 500px) {
  #header-toggle {
    display: flex;
  }

  #header-logo {
    font-size: 30px;
    height: 40px;
    width: 110px;
  }
}

@media (max-width: 700px) {
  #header-auth-links, #header-user-links {
    width: 350px;
  }
}

#header-toggle-close1,  #header-toggle-close2 {
  display: none;
  background: #e0e0e0;
  border-radius: 10px;
  width: 37px;
  height: 3px;
  position: absolute;
  top: 9px;
  left: -3px;
}

#header-toggle-close1 {
  transform: rotate(45deg);
}

#header-toggle-close2 {
  transform: rotate(-45deg);
}

#header-account-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 55px;
  padding-left: 10px;
  padding-right: 10px;
}

#header-account-dropdown:hover, #header-account-dropdown:focus {
  background: #433f5a;
}

#header-dropdown-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #423d5c;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: Tahoma, sans-serif;
  margin-right: 7px;
  user-select: none;
}

#header-dropdown-arrow {
  margin-left: 7px;
  transform: rotate(90deg) translateX(2px);
  color: #676c78;
  user-select: none;
}

#header-dropdown-options {
  background: #333046;
  position: absolute;
  display: none;
  flex-direction: column;
  border: 2px solid #423d5c;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transform: translate(-10px, 70px);
}

.header-dropdown-option {
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.header-dropdown-option:hover {
  background: #433f5a;
}

#dropdown-hr {
  color: #423d5c;
}

#header-icon-notification-count {
  background: #afdafd;
  border: 1px solid #1163a7;
  color: #1163a7;
  border-radius: 100px;
  position: absolute;
  font-size: 9px;
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 9px;
  line-height: 9px;
  transform: translate(11px, -12px);
  padding-left: 2px;
  padding-right: 2px;
}

#header-notification-count {
  background: #afdafd;
  border: 1px solid #1163a7;
  color: #1163a7;
  border-radius: 100px;
  position: absolute;
  font-size: 9px;
  transform: translateY(-3px);
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 11px;
  line-height: 9px;
  transform: translate(90px, -23px);
  padding-left: 2px;
  padding-right: 2px;
}

#header-mobile-user-links, #header-mobile-auth-links {
  position: absolute;
  display: none;
  flex-direction: column;
  transform: translate(-110px, 38px);
  width: 150px;
  background-color: #333046;
  border: 2px solid #423d5c;
  border-radius: 0 0 5px 5px
}

#dropdown-hr {
  border: 1px solid #423d5c;
  background: #423d5c;
}

.header-mobile-link {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-mobile-link:hover {
  background: #433f5a;
}