* {
	margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  color: #e0e0e0;
}

main {
  transform: translateY(55px);
}

body {
  background: #262334;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  background: #333046;
  width: 100vw;
  position: fixed;
  height: 55px;
  border-bottom: 2px solid #423d5c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}

button {
  padding: 10px;
  font-size: 15px;
  background: #4b57c3;
  transition: background 500ms;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-disabled {
  background: #4b57c3;
  cursor: not-allowed;
}

.button-enabled {
  background: #6774e4;
  cursor: pointer;
}

.button-enabled:hover {
  background: #4b57c3;
}

#header-logo {
  /*background: #928cba;*/
  background: linear-gradient(to bottom, 	#0057b7 0%, 	#0057b7 50%, #ffd700 50%, #ffd700 100%);
  border-radius: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 130px;
  cursor: pointer;
  font-family: 'Lalezar', cursive;
  font-size: 40px;
  margin-left: 10px;
}

#header-logo > span {
  color: white;
}

#header-auth-links, #header-user-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  display: none;
}

.header-link {
  border: 2px solid #687fbb;
  border-radius: 500px;
  padding: 4px 7px 4px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-circle {
  height: 20px;
  width: 20px;
  background: transparent;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: 1s loadingButton linear infinite;
}

@keyframes loadingButton {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header-message {
  position: absolute;
  transform: translateY(70px);
  height: 40px;
  display: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

#header-message-text {
  margin-left: 15px;
  margin-right: 20px;
}

#header-message-hide {
  margin-right: 15px;
  cursor: pointer;
  color: #bdbdbd;
}

#header-toggle {
  position: absolute;
  top: 17px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.header-toggle-bar {
  height: 3px;
  width: 100%;
  background: #e0e0e0;
  border-radius: 10px;
}

@media (max-width: 500px) {
  #header-toggle {
    display: flex;
  }

  #header-logo {
    font-size: 30px;
    height: 40px;
    width: 110px;
  }
}

@media (max-width: 700px) {
  #header-auth-links, #header-user-links {
    width: 350px;
  }
}

#header-toggle-close1,  #header-toggle-close2 {
  display: none;
  background: #e0e0e0;
  border-radius: 10px;
  width: 37px;
  height: 3px;
  position: absolute;
  top: 9px;
  left: -3px;
}

#header-toggle-close1 {
  transform: rotate(45deg);
}

#header-toggle-close2 {
  transform: rotate(-45deg);
}