<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lalezar&family=Licorice&display=swap" rel="stylesheet">

<a href="/"><h1 id="header-logo"><span>simul</span></h1></a>

<div id="header-toggle">
  <span class="header-toggle-bar"></span>
  <span class="header-toggle-bar"></span>
  <span class="header-toggle-bar"></span>
  
  <span id="header-toggle-close1"></span>
  <span id="header-toggle-close2"></span>
</div>
  
<div id="header-auth-links">
  <a href="/register"><div class="header-link"><span>Register</span></div></a>
  <a href="/login"><div class="header-link"><span>Sign In</span></div></a>
  <a href="/contribute"><div class="header-link"><span>Contribute</span></div></a>
</div>

<div id="header-user-links">
  <a href="/contribute"><div class="header-link"><span>Contribute</span></div></a>
  <a href="/chat"><div class="header-link"><span>Chat Room</span></div></a>
  
  <div id="header-account-dropdown" tabindex="0">
    <div id="header-dropdown-icon">
      <span></span>
      <strong id="header-icon-notification-count"></strong>
    </div>
    <p id="header-dropdown-username"></p>
    <strong><p id="header-dropdown-arrow">&gt;</p></strong>

    <div id="header-dropdown-options">
      <a tabindex="0" class="header-dropdown-option" href="/notifications">Notifications<strong id="header-notification-count"></strong></a>
      <a tabindex="0" class="header-dropdown-option" href="/settings">Settings</a>
      <a tabindex="0" class="header-dropdown-option" href="/logout">Logout</a>
    </div>
  </div> 
</div>

<div id="header-message">
  <span id="header-message-text"></span>
  <span id="header-message-hide">X</span>
</div>